<html>
  <head>
  	 <style>
  	 	.logo {
  	 		position:absolute;
  	 		top:60;
  	 		right:100;
  	 	}
  		body {
    			background-image: url('https://images5.alphacoders.com/351/thumb-1920-351817.jpg');
  		}
  	  </style>

	  <link rel="icon" type="image/png" href="{{url_for('static', filename='g666.png')}}"/>

  	<img src="{{url_for('static', filename='logo.png')}}" class="logo"/>

    <title>
      AWSome Cracker
    </title>
  </head>
  <body>
    <div style="margin-left: 50px">
      <h1>
        AWSome Cracker
      </h1>
      <ul>
        {% if errors%}
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
         {% endif %}
      </ul>
      <form action="send" enctype="multipart/form-data" method=POST >
        <label for=email>
          Email :
        </label>
        <input type=text name=email required/><br><br>
        <label for=hash>
          Hash :
        </label>
        <input type=file name=hash required/><br><br>
        <label for={{path}}>Word list : </label>
        <br><br>
        <select name="words" multiple required><br><br>
          {% for word in word_list %}
            <option type=checkbox value={{word}} />{{word}}</option>
          {% endfor %}
        </select>
        <br><br>
        <input type=submit name=submit />
      </form>
    </div>
  </body>
</html>
